{{- $defaultConfig := .Site.Data.config.default.widgets.recent_posts -}}
{{- $configData := ( or .Site.Data.config.widgets.recent_posts $defaultConfig ) -}}
{{- $lang := .Site.Language.Lang -}}
{{- $config := ( ( index $configData $lang ) | default $configData ) -}}

{{- $length := ( $config.length | default 5 ) -}}

<section class='widget widget-recent_posts sep-after'>
  <header>
    <h1 class='title widget-title'>
      {{ with $config.title }}
        {{- . -}}
      {{ else }}
        {{- .Site.Title -}}
      {{ end }}
    </h1>
  </header>

  <ul class='list'>
    {{ range (.Paginator 5).Pages }}
                  {{ .Render "li"}}
              {{ end }}
  </ul>
  {{ partial "nav/pagination" . }}
</section>
